body {
  background-color: rgba(17, 17, 17, 1.0);
  transition: 1s;
  min-width: 100%;
  margin: 0%;
}

h1 {
  margin: 7%;
  font-size: 3em;
  letter-spacing: 0.5em;
  font-family: Poiret One, Dorsa, sans-serif;
  color: rgba(220, 220, 220, 1.0);
  position: relative;
}

h2 {
  margin-top: 3%;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-family: Poiret One, Wire One, sans-serif;
  color: rgba(120, 120, 120, 1.0);
  position: relative;
}

/*   Gallery  */

img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin: 2%;
  opacity: 1.0;
}

img:hover {
  opacity: 0.6;
}

/* background */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal image */

.modal-content {
  margin: auto;
  display: block;
  max-height: 90%;
  max-width: 90%;
}

/* Caption of Modal Image */

#caption {
  font-family: Poiret One, Wire One;
  font-size: 2em;
  margin: auto;
  margin-top: 1%;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgba(220, 220, 220, 1);
}

/* Add Animation */

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  width:100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.0);
}

.close:hover {
  cursor: pointer;
}

/*mini gallery*/

.sketchbook {
  z-index: 0;
height: 1000px;
position: static;
}

.mg {
  max-width: 90%;
  height: auto;
  margin: auto;
  max-height: 800px;
  margin-bottom: -700px;
  z-index: 1;
  transform: translate(0%, -120%);
}

.button-left {
  text-align: left;
  z-index: 1;
}

.button-right {
  text-align: right;
  z-index: 1;
}
.button-image {
  height: 0px;
  margin-bottom: 20%;
}

button {
  background-color: rgba(0, 0, 0, 0.0);
  width: 49%;
  height: 1000px;
  font-size: 12em;
  font-family: Dorsa;
  color: rgba(120, 120, 120, 0.4);
  cursor: pointer;
  border-style: none;
  z-index: 0;
  transform: translate(0%, 0%);
  position: sticky;
  top: 200px;
}

button:hover{
  outline: none;
}

.mg:hover {
  opacity: 1;
}

/*Zoom In*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }
  to {
    transform: scale(1)
  }
}

/*fadeInDown*/

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.zoomIn {
  animation-name: zoomIn;
}

.top {
  overflow: hidden;
  background: rgba(20, 20, 20, 0.0);
  position: relative;
}

.top a {
  float: left;
  color: rgba(220, 220, 220, 1.0);
  font-family: Poiret One, Dorsa, sans-serif;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 1.4em;
}

.top a:hover {
  filter: blur(2px);
}

.pages a {
  color: rgba(120, 120, 120, 1.0);
}

.active {
  background-color: rgba(60, 60, 60, 1.0);
}

.top .icon {
  display: none;
  margin-right: 2%;
  font-size: 3em;
}

footer{
  height: 35px;
  bottom: 0;
  position: fixed;
  right: 0;
}
.instagram{
  filter: invert(100%);
  position: absolute;
  right: 64px;
}
.facebook{
  filter: invert(100%);
  position: absolute;
  right: 17px;
}
.instagram:hover{
  filter: blur(2px);
}
.facebook:hover{
  filter: blur(2px);
}


@media only screen and (max-width: 900px) {
  .top a {
    display: none;
  }
  .top a.icon {
    float: right;
    display: block;
  }
  .top.responsive {
    position: relative;
    padding-top: 17%;
  }
  .top.responsive .icon {
    font-size: 3em;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 0s;
    animation-name: fadeInDown;
    animation-duration: 0s;
  }
  .top.responsive a {
    padding: 5%;
    float: none;
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.8em;
    background-color: rgba(17, 17, 17, 1.0);
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 0.3s;
    animation-name: fadeInDown;
    animation-duration: 0.3s;
  }
  h1 {
    font-size: 2em;
    margin: 13%;
  }
  h2 {
    font-size: 1em;
  }
  img {
    max-width: 85%;
    height:auto;
    margin-bottom: 3%;

  }
  .mg {
    max-width: 100%;
    margin-top: 90%;
    max-height: 500px;
  }

  button {
    height: 20%;
    margin-bottom: -800px;
  }
  .sketchbook {
    z-index: 0;
    height: 600px
  }
  .button-image{
    width: 100%;
    height: 200px;
  }
  .modal-content{
    display: none;
  }
  #caption{
    display: none;
  }
  .modal{
    display: none;
    width: 0%;
    height: 0%;
  }
  .close{
    display: none;
  }
  footer{
    display: none;
  }
}
