body{
    background-color: rgba(220, 220, 220, 1);
    transition: 2.3s;
    margin: 0%;
    width: 100%;

}

.space{
  height: 700px;
}
#header{
    margin-top: 20%;
    height: 1000px;
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 1.2em;
    color: rgba(20, 20, 20, 1);
    transition: 0.5s;
    font-family: Poiret One, Forum, Dorsa, sans-serif;
  }

  h2{
    font-family: Poiret One, Forum, sans-serif;
    font-size: 1.3em;
    color: rgba(160, 160, 160, 1);
    letter-spacing: 0.3em;
  }

#wrapper{
  position: relative;

}

#opacity{
  opacity: 0;
  transition: 1.0s;
}


#scrolldown{
  transition: 0.4s;
  margin-bottom: 400px;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}


.container {
  margin: auto;
  position: relative;
  display: block;
  margin-bottom: 17%;
}

.image {
  margin: auto;
  border-radius: 3px;
  display: block;
  width: 90%;
  max-width: 900px;
  height: 100%;
  filter:grayscale(20%) blur(0px);
  transition:  1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition:  1s ease-in-out;
  border-radius: 2%;
}

.container:hover .image {
  filter:grayscale(100%) blur(10px);
  transition: .55s ease-in-out;
  -moz-transition:  .55s ease-in-out;
  -webkit-transition: .55s ease-in-out;
}

.text {
  color: rgba(220, 220, 220, 1.0);
  font-size: 4.5em;
  letter-spacing: 0.1em;
  font-family: Poiret One, Dorsa, Wire One, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -100%);
}

a {
    color: rgba(220, 220, 220, 1);
  	padding: 3px;
    text-decoration: none;
  	filter:blur(0px);
  }

  .contact{
      padding: 10px;
      width: 40%;
      background-color: rgba(220, 220, 220, 0.0);
      border: 2px solid rgba(220, 220, 220, 1.0);
      border-radius: 6px;
      margin: auto;
      margin-top: 10%;
      margin-bottom: 5%;
      display: none;

  }

  .contact a{
    color: rgba(220, 220, 220, 1.0);
    font-family: Poiret One, Wire One, sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.3em;
    border-bottom: 2px solid rgba(220, 220, 220, 0.0);

  }

  .top {
    overflow: hidden;
    background: rgba(20, 20, 20, 0.0);
    position: relative;
  }

  .top a {
    float: left;
    color: rgba(20, 20, 20, 1.0);
    font-family: Poiret One, Dorsa, sans-serif;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 1.4em;
  }

  .top a:hover {
    filter: blur(2px);
  }

  .pages a {
    color: rgba(160 , 160, 160, 1.0);
  }

  .active {
    background-color: rgba(160, 160, 160, 1.0);
  }

  .top .icon {
    display: none;
    margin-right: 2%;
    font-size: 3em;
    color: rgba(120, 120, 120, 1.0);
  }


  @media only screen and (max-width: 900px) {
    .top a {
      display: none;
    }
    .top a.icon {
      float: right;
      display: block;
    }
    .top.responsive {
      position: relative;
    }

    .top.responsive .icon {
      font-size: 3em;
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-animation-name: fadeInDown;
      -webkit-animation-duration: 0s;
      animation-name: fadeInDown;
      animation-duration: 0s;
    }
    .top.responsive a {
      padding: 5%;
      float: none;
      position: relative;
      display: block;
      text-align: center;
      font-size: 1.8em;
      background-color: rgba(220, 220, 220, 1.0);
      -webkit-animation-name: fadeInDown;
      -webkit-animation-duration: 0.3s;
      animation-name: fadeInDown;
      animation-duration: 0.3s;
    }
    .top a:hover {
      filter: blur(0px);
    }
    h1{
      font-size: 2em;
    }
    h2{
      font-size: 1em;
    }
    .text{
      font-size: 2em;
    }
    .image{
      max-width:80%;
    }
    .space{
      height: 400px;
    }
    .container{
      margin-top: 0px;
    }
    body{
      width: 100%;
    }
    #header{
      font-size: 1em;
    }
    .space{
      height: 300px;
    }
    .contact{
      display: block;
    }
  }
